{%- set redis_compound_string = "G@node_type:redis and G@datacenter:" +  grains['datacenter'] + " and G@env:" + grains['env'] -%}

input {
 redis {
 host => "{{ salt['publish.publish']( redis_compound_string, 'network.ip_addrs', 'eth0', expr_form='compound').values()[0][0] }}"
 port => 6379
 db => 2
 type => "redis-input"
 data_type => "list"
 key => "logstash"
 }
}

output {
 elasticsearch {
 embedded => true
 }
}